<div class="container">
  <h1>Create your account!</h1>

  <form action='/create_account' method='post'>
    <input type='text' name='name' placeholder='name'> <br>
    <input type='text' name='email' placeholder='email'> <br>
    <input type='password' name='password' placeholder = "password"><br>
    <input type='submit' value='Create Your Account'>
  </form>

</div>
